<launch>
     <node name="robot1_tf_broadcaster" pkg="clbrobot" type="clbrobot_tf_broadcaster.py" respawn="false" >
       <param name="robot" type="string" value="clb1" />
     </node>
     <node name="robot2_tf_broadcaster" pkg="clbrobot" type="clbrobot_tf_broadcaster.py" respawn="false" >
       <param name="robot" type="string" value="clb2" />
     </node>

     <node name="multi_robot_follow" pkg="clbrobot" type="clbrobot_tf_listener.py" output="screen">
	<param name="listen_robot" value="clb1" type="string" />
	<param name="follow_robot" value="clb2" type="string" />
     </node>
</launch>

