<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="clbrobot_mecanum_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00369845566390078 -0.00294938781238454 0.0727881864242428"
        rpy="0 0 0" />
      <mass
        value="2.13620230551938" />
      <inertia
        ixx="0.023417198047497"
        ixy="0.000223116350755127"
        ixz="-0.00106307915234508"
        iyy="0.0160695994522361"
        iyz="0.000113084313675836"
        izz="0.0313962054397031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://clbrobot_mecanum_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://clbrobot_mecanum_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>