<launch>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />
  <arg name="astra"   default="false"  doc="Set astra(astra or usb camera) is true , set d435 is false"/>
  <arg     if="$(arg astra)" name="input_image"        default="/camera/rgb/image_raw"/>
  <arg unless="$(arg astra)" name="input_image"      default="/camera/color/image_raw"/>

  <node name="clbrobot_gesture_detect" pkg="clbrobot_gesture_detect" type="clbrobot_gesture_detect.py" output="screen" >
      <param name="camera_topic" value="$(arg input_image)" type="string" />
  </node>
</launch>
